##########################################################
## Use this list to detail files you wish git to ignore ##
##########################################################
results/*
notebooks/2D_examples/results/*
*/*.npy
*/*.npz
thick_ptycho.egg-info/
thick_ptycho/_version.py
.ruff_cache/
uv.lock


## Backup files
*~


## Mac and Windows hidden store files
**/.DS_Store
**/Thumb.db


## LaTeX auto-created files
*.log
*.aux
*.dvi
*.bbl
*.toc
*.out
*.blg
*.nav
*.snm
*.thm
*.gz


## Large files that probably shouldn't be put on git
*.mov
*.mp4
*.xmf
*.h5
*.pvd
*.vtu
&.pvtu
*.bin
*.zip
*.gif
*.tif
*.json
*.lock
*.venv
*.pyc
*.npy:*
*.png
*.txt
*.csv
*checkpoint*
*.png


## Some common local save or copy matches
*_save*
*-save*
*_copy*
*-copy*

## Pytest cache
**/.pytest_cache

## Numpy files
*/results/
*/petsc/

## Python cache
**/__pycache__
*/__pycache__/*

## Jupyter notebook .tiff outputs
*.tiff

*/.ipynb_checkpoints/*
