name: Python Linter

on:
  push:
  pull_request:

jobs:
  lint:
    name: Run Pylint
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Poetry
        run: |
          pip install poetry

      - name: Install dependencies
        run: |
          poetry install --with dev

      - name: Run Pylint
        run: |
          poetry run pylint thick_ptycho/
          poetry run pylint tests/
